<a routerLink="/"><h1 class="titulo2">¡Aprende por mi!</h1></a>
<div class="infinite">

  <div class="divprinc">
     <div class="pantalla">
       <img src="../../assets/img/avatarhombre.jpg" alt="">
       <p>Javier David Potes Peña</p>
       <p>Tecnico en Sistemas</p>
       <p>jdpotesp@ut.edu.co</p>
     </div>
     <div class="pantalla">
       <img src="../../assets/img/avatarmujer.jpg" alt="">
       <p>Stefany Cedeño Ramirez</p>
       <p>Lic. Pedagogia Infantil</p>
       <p>scedenor@ut.edu.co</p>
     </div>
     <div class="pantalla">
       <img src="../../assets/img/avatarhombre.jpg" alt="">
       <p>Juan Diego Rivera Meneses</p>
       <p>Tecnico en Sistemas</p>
       <p>jdriveram@ut.edu.co</p>
     </div>
  </div>

</div>
