.pantalla{
  width: 250px;
  height: 200px;
  margin: 10px;
  display: inline-block;
}

.borde{
  width: 100%;
  height: 100%;
  margin-bottom: 5%;
}


.pantalla p{
  text-align: center;
}

.infinite {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}
.divprinc{
  width: 100%;
  height: 300px;
  position: relative;
  background-color: rgba(99, 231, 102, 0.8);
  border: 1px solid black;
  float: left;
  overflow-y: scroll;

}
.btn-menu{
  visibility: hidden;
}
.divmenu{

  width: 100%;
  height: 40px;
  background-color: rgba(99, 231, 102, 0.8);
  border: 1px solid black;
  border-bottom: none;
}

.titulo2{
  margin-top: 5%;
  text-align: center;
  font-family: lobster;
  font-size: 60px;

  /* degradado */
  background: -webkit-linear-gradient(red 40%, orange, yellow, green, cyan, blue,violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;

  /* delineado */
  -webkit-text-stroke: 2px black;
}


.navbar{
  height: 40px;

}
.nav-link:hover{
  color: rgb(0,0,0);

}
.active a{
  color: black;

}
.nav-link{
  color: rgba(0,0,0, 0.5);
  font-size: 15px;
}

.nav-item{
margin-right: 40px;
}

.btn-menu {
  width: 100%;

}

.btn-menu img {
    margin-right: 10px;
}



pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */

}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

@media screen and (max-width:991px){
  .nav-item{
    margin-right: 20px;
  }
  .nav-link{
    font-size: 12px;
  }

  .pantalla{
    margin-left: 20%;
  }
  .divmenu{
    height: auto;
  }

  .navbar {
    height: auto;
  }
}

@media screen and (max-width:740px){
  .nav-item{
    margin-right: 10px;
  }
  .pantalla{
    margin-left: 10%;
  }
}
  @media screen and (max-width:400px){
    .pantalla{
      margin-left: 12%;
    }
}
