<!-- inicio menu -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Administrador</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/administrador']">Dificultades<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/adminMultimedia']">Multimedia<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/adminActividades']">Actividades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/adminReferentes']">Referentes</a>
      </li>
    </ul>
  </div>
</nav>
<!-- fin menu -->
<body>
  <div class="card border-primary mb-3">
    <div class="card-header">Multimedia</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de multimedia</h5>
      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/adminMultimedia/form']">
          Crear Multimedia
        </button>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let multimedia of multimedias">
            <td>{{multimedia.idMultimedia}}</td>
            <td>{{multimedia.nombreMultimedia}}</td>
            <td>
              <button type="button" name="editar" [routerLink] ="['/adminMultimedia/form', multimedia.idMultimedia]" class="btn btn-primary">Editar</button>
            </td>
            <td>
              <button type="button" name="eliminar" (click)="delete(multimedia)" class="btn btn-danger btn-sm">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</body>
